* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f0f14;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #0b0b10;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #00ffd5; /* optional nice border */
    background: #fff; /* optional if logo has transparent edges */
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
}

.navbar nav a:hover {
    color: #00ffd5;
}

/* HERO */
.hero {
    height: 70vh;
    background: linear-gradient(to right, #000000b2, #000000b2),
    url("cover.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.85;
}

/* GALLERY */
.gallery {
    padding: 70px 8%;
    text-align: center;
}

.gallery h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.grid img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.grid img:hover {
    transform: scale(1.05);
}

/* CONTACT */
.contact {
    padding: 70px 8%;
    background: #141420;
    text-align: center;
}

.contact h2 {
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 25px;
    opacity: 0.8;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #00ffd5;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00c9a7;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #0b0b10;
    opacity: 0.7;
}

.contact form label {
    text-align: left;
    font-size: 0.9rem;
    opacity: 0.8;
}

